apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-1-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project-1
  template:
    metadata:
      labels:
        app: project-1
    spec:
      containers:
      - name: app
        image: project-1-k8s-ci-app:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000

        envFrom:
        - configMapRef:
            name: app-config

        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_PASSWORD

        - name: APP_VERSION
          value: "v2.0"

        livenessProbe:
          tcpSocket:
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3

        readinessProbe:
          tcpSocket:
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
